* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form {
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 70px;
    width: 550px;
    background-color: yellow;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__input {
    padding-left: 20px;
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}

.form__input::placeholder {
    font-size: 16px;
}

.form__button {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 200px;
    height: 40px;
    background-color: green;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    transition: all 1s;
}

.form__button:active {
    transition: all 0.2s;
    background-color: rgb(0, 170, 0);
}

.box {
    padding: 25px 25px;
    background-color: red;
    border: none;
    border-radius: 10px;
}

.website__p {
    color: white;
    font-family: cursive;
    font-size: 30px;
}

